%p= button_to "Picasa Button", "picasa://importbutton/?url=http://#{request.host_with_port}/picasa/button.pbz"
%p
  Filename :
  =@filename
  %br
  UUID :
  =@uuid
%p
  File :
  %br
  =simple_format(h @pbf)