.pagination {
  margin: 10px 15px;
  .page {
    background: #852;
    border: 1px solid #D94;
    font-weight: bold;
    color: black;
    a {
      color: #FA5;
      text-decoration: none;
    }
    &.current {
      background: #582;
      border-color: #9D4;
      color: #AF5;

    }
    width: 20px;
    margin: 0 3px;
    text-align: center;
    float: left;

    &.next, &.prev, &.first, &.last {
      background: #852;
      border: 1px solid #D94;
      a {
        color: #FA5;
        text-decoration: none;
      }
      width: 60px;
      margin: 0 5px;
      text-align: center;
      float: left;
    }
  }
}
