
body.france {
  background:  asset_url('france/bg.jpg','images') no-repeat top center white;

  #content {
    background:  asset_url('france/container-bg.png','images');
    min-height: 600px;
  }

  #footer {
    background:  asset_url('footer-bg.png','images') repeat-x white;
  }
}