
body.dubai {
  background: url('../../images/dubai/bg.gif') repeat #FDA;

  #content {
    background: url('../../images/dubai/bg-inside.gif');
    min-height: 1000px;
  }

  #footer {
  }

 #background {
   background: url('../../images/dubai/background.png') no-repeat top center;
   height: 1098px;
 }
}