
body.japon {
  background: url('../../images/japon/bg.jpg') no-repeat top center white;

  #content {
    background: url('../../images/japon/container-bg.png');
    min-height: 600px;
  }

  #footer {
    background: url('../../images/footer-bg.png') repeat-x white;
  }
}