// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding("body.bp");

@import "partials/colorbox";
@import "partials/pagination";
@import "partials/percents";

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form;
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body {
  background: url('../../images/bg.jpg') no-repeat top center white;
  #container {
    @include container;
    position: relative;
    min-height: 100%;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    border-left: 1px solid #888;
  }
  #header, #footer, #content {
    @include column($blueprint-grid-columns);
  }

  #content {
    background: url('../../images/container-bg.png');
    min-height: 600px;
  }

  #footer {
    border-top: 2px solid #000;
    min-height: 200px;
    background: url('../../images/footer-bg.png') repeat-x white;
    padding: 5px;
    font-size: 12px;
    p {
        padding: 3px;
    }
  }
}

.site_title {
  text-align: center;
  h1 {
    margin: auto;
    a {
      font-size: 72px;
      text-indent: -9999px;
      display: block;
      height: 83px;
      width: 400px;
      margin: 0 0 0 56%;
    }
  }
}

.front_post {
  padding: 10px;
  .title {
    color: #744;
    margin-bottom: 1px solid #000;
    font-size: 16px;
  }
  .subtitle {
    color: #383;
    font-size: 11px;
  }
  .image {
    margin: 5px 0;
    text-align: center;
    img {
      border: 2px solid #000;
    }
  }
  .description {
    font-style: italic;
  }
}

.cover_post {
  margin: 10px;
  img {
    border: 4px solid #630;
  }
}

.post {
  padding: 3px;
  border-bottom: 2px solid #333;

  .title {
    border-bottom: 2px solid #383;
    margin: 5px 0;
    padding: 0 10px;
    h2 {
      font-size: 22px;
      font-weight: bold;
      margin-right: 30px;
      color: #383;
      float: left;
    }
    .links {
      float: right;
      margin-right: 5px;
      .link {
        margin-right: 10px;
        font-size: 12px;
      }
    }
  }
  .image {
    clear: both;
    margin: 4px 7px;
    border: 3px solid black;
  }
  .subtitle {
    color: #935;
    font-size: 12px;
    float: left;
    padding-top: 8px;
  }
  .description {
    font-style: italic;
    padding: 2px 0 10px 0;
    font-size: 14px
  }
  .photograph {
    color: #358;
    font-size: 14px;
    /*border-bottom: 2px solid #383;*/
    margin-bottom: 4px;
    text-align: right;
  }
}

.horizontal {
  width: 760px;
  float: left;
  cursor: pointer;
}
.vertical {
  width: 580px;
  float: left;
  cursor: pointer;
}
.full {
  width: 976px;
  cursor: pointer;
}

.third {
  @include column($blueprint-grid-columns/3);
}

.last {
  margin-right: 0;
}

.clear {
  clear: both;
}


img {
  display:block;
  margin: auto;
}

a, a:visited {
  text-decoration: none;
  color: #447;
  &:hover {
    color: #474;
  }
}

.front_comments {
  .comment {
    margin-top: 3px;
    .author {
      float: left;
      margin: 0 5px;
      color: #522;
      line-height: 18px;
    }
    .content {
      font-size: 13px;
      font-style: italic;
      color: #642;
      padding-top: 3px;
      line-height: 15px;
    }
  }
  h3 {
    text-decoration: underline;
  }
}
.comment_form {
  padding: 5px;
}