%p= button_to "Picasa Button", "picasa://importbutton/?url=http://japon.crystalin.fr/picasa_2_photowagon.pbz"
%p= button_to "Picasa Button Local", "picasa://importbutton/?url=http://192.168.11.12:3000/picasa_2_photowagon_local.pbz"