.cover_post
  - first_post = @posts.all.select {|post| post.good_cover}.first || @posts.first
  .image= image_tag first_post.image_url(:cover) if first_post
= paginate @posts, :inner_window => 10, :outer_window => 3
.clear
.posts
  =render :partial => "front_post", :collection => @posts
.comments_bar
  %h2 Derniers commentaires

  =render :partial => "comments/front_comment", :collection => Comment.recent.on_site(current_subdomain).limit(30)
.clear
= paginate @posts, :inner_window => 10, :outer_window => 3
