=form_for @post, :html => {:multipart => true} do |form|
  .field
    =image_tag(@post.image_url(:front_page)) if @post.image_url
  .field
    =form.file_field :image
  .buttons
    =form.submit "Upload"