.cover_post
  .image= image_tag @posts.first.image_url(:cover) if @posts.first
= paginate @posts, :inner_window => 10, :outer_window => 3
.clear
=render :partial => "front_post", :collection => @posts
.clear
= paginate @posts, :inner_window => 10, :outer_window => 3
