%h2 Picasa Web Upload Page
%form#picasa_upload{:enctype => "multipart/form-data", :action=>"http://192.168.11.19:3000/picasa_upload", :method => "post"}
  - @items.each_with_index do |item, index|
    .third{:class => ("last" if index%3 == 2)}
      .front_post
        .image= image_tag "#{item['imgsrc']}?size=200"
        =hidden_field_tag "#{item['imgsrc']}?size=1600"
  .buttons.clear
    %input{:type=>'submit', :class=>"button", :value=>"Upload"}