// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";
@import "jquery.Jcrop";

// To customize the Active Admin interfaces, add your
// styles here:

.post_image {
  float: left;
  margin: 5px;
}


.picasa_upload {
  min-width: 1400px;
}
.picasa_post_front, .picasa_post_cover {
  clear: both;
  .image {
    margin: 10px;
    float: left;
    border-right: 2px solid #79F;
    padding-right: 10px;
  }
  .crop_canvas {
    margin: 10px;
  }
}

.clear {
  clear: both;
}

.login_box {
  width: 600px;
}