
.hundred {
    width: 100%;
}

.ninety {
    width: 70%;
}

.eighty {
    width: 70%;
}

.seventy {
    width: 70%;
}

.sixty {
    width: 60%;
}

.fifty {
    width: 50%;
}

.forty {
    width: 40%;
}

.thirty {
    width: 30%;
}

.twenty {
    width: 20%;
}

.ten {
    width: 10%;
}