%p Voici mon site au Japon. Je viens de le commencer, et j'espere pouvoir l'am&#233;liorer assez rapidement. N'hesitez pas &#224; me demander des fonctionalit&#233;s (Les commentaires, ainsi que le groupement par semaine sera bient&#244;t disponible)
%p Merci de faire passer le site aux personnes que je connais et &#224; qui je n'ai pas envoy&#233; le lien.
%p Copyright @ Alan Sap&#232;de