%p Voici mon site au Japon que je continue de faire evoluer.
%p Merci de faire passer le site aux personnes que je connais et &#224; qui je n'ai pas envoy&#233; le lien.
%p Copyright @ Alan Sap&#232;de